/* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;   
}



/* List and Navbar styling */
 
navbar {
    display: flex;
    

}

.navbar-brand {
    margin-left: 1.5rem;
}

ul {
    /* position: absolute; */
    /* border: 2px solid black; */
    /* display: flex; */
    /* gap: 10px; */
    /* list-style: none; */
    align-items: flex-end;
    justify-content: end;
    /* margin-right: 50px; */
}

li {
    /* display: flex; */
    /* position: absolute; */
    /* text-decoration: none; */
    /* justify-content: flex-end; */
    margin-left: 4rem;
    /* padding: 0.5rem; */
} 


/* li:hover {
    cursor: pointer;
    color: aqua;
    transition: 600ms;
} */



/* Map Styling */

#map {
    display: flex;
    height: 60vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    /* align-items: center; */
    /* justify-content: center; */


  }










  /* PAGE SPECIFIC STYLING */

    /* HOME */
.homeContentBox1 {
    /* display: flex; */
    /* position: absolute; */
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    width: 40vw;
    height: 30vh;
}


    /* LOCATION */



    /* BOOKING */