            /* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;   
}


body {
    background-image:url('Assets/countryside.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;




    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* justify-content: center; */
    /* align-items: center; */
}

/* List and Navbar styling */

.navbar-brand {
    margin-left: 1.5rem;
}

ul {
    /* position: absolute; */
    /* border: 2px solid black; */
    /* display: flex; */
    /* gap: 10px; */
    /* list-style: none; */
    align-items: flex-end;
    justify-content: end;
    /* margin-right: 50px; */
}

li {
    /* display: flex; */
    /* position: absolute; */
    /* text-decoration: none; */
    /* justify-content: flex-end; */
    margin-left: 4rem;
    /* padding: 0.5rem; */
} 


li:hover {
    cursor: pointer;
    color: aqua;
    transition: 600ms;
    text-decoration: underline;
    /* transform: scaleY(0); */
    animation: fade;
}




/* Footer Styling */
.footer {
    margin-top: 460px;
width: 100%;
height: 4rem;
background-color:aliceblue ;
position: fixed;
bottom: 0;
text-align: center;
}



            /* PAGE SPECIFIC STYLING */

             /* HOME */

.index {
    background-image:url('Assets/countryside.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.homeContentBox1 {
    /* display: flex; */
    /* position: absolute; */
    margin: auto;
    margin-top: 10vh;
    /* border: 1px solid black; */
    width: 40vw;
    height: 30vh;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
}

.homeContentBox2{
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    /* border: 1px solid black; */
    width: 100%;
    height: 35vh;
    /* background-color: aliceblue; */
    border-radius: 15px;
    text-align: center;
    
    /* padding: 2rem; */
    
}

.card {
    
}

                /* BOOKING */

#placeholder { 
    /* border: 1px solid white;
    width: 50px;
    height: 50px; */


    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    width: 40vw;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 300px;
    
    

}

    
                /* LOCATION */



/* Map Styling */

#map {
    /* display: flex; */
    height: 60vh;
    width: 70%;
    margin: auto;
    top: 6rem;
    border-radius: 30px;
   
    /* align-items: center; */
    /* justify-content: center; */


  }

/* Word box styling */

.words {
    /* display: flex; */
    background-color: aliceblue;
    border: 1px solid black;
    margin: auto;
    margin-top: 12rem;
    width: 30%;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }

    }